<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href= "/images/weather_icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src="https://lh3.googleusercontent.com/proxy/qiFQQO1rZotgdJeM6DtFl1I8RUMN4bRGEKMvY7l1Z9z-nkdc5UkYjzVdO9WnFu_VrNvRTw_TPJBFlZCxPD21z5j6HwGvWKIwXeXPiNUslj11SZk8mngc2IMsyaaMKKs">

    </div>
    
    {{>footer}}
</body>

</html>