<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href= "/images/weather_icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
        <img src="https://lh3.googleusercontent.com/proxy/qiFQQO1rZotgdJeM6DtFl1I8RUMN4bRGEKMvY7l1Z9z-nkdc5UkYjzVdO9WnFu_VrNvRTw_TPJBFlZCxPD21z5j6HwGvWKIwXeXPiNUslj11SZk8mngc2IMsyaaMKKs">
    </div>

    {{>footer}}
</body>

</html>